div.hypernotifier-notify {
	z-index            : 1000;
	background-color   : #2b2b2b;
	background-color   : rgba(25,25,25,0.8);
	background-position: 7px center;
	background-repeat  : no-repeat;
	padding            : 5px 25px 5px 52px;
	border             : 2px solid #2b2b2b;
	border-radius      : 5px;
	color              : #eee;
	box-shadow         : 0 1px 5px #777; }

div.hypernotifier-notify:hover {
	border             : 2px solid #eee;
	box-shadow         : 0 1px 5px #444; }
	
	div.hypernotifier-notify > div.hypernotifier-title {
		font-weight: bold;
		font-size  : 12px;
		text-shadow: 0 1px 3px #111; }
	
	div.hypernotifier-notify > div.hypernotifier-message {
		font-weight: normal;
		font-size  : 11px; }
	
	div.hypernotifier-notify > div.hypernotifier-close {
		display      : none; }
	
	div.hypernotifier-notify:hover > div.hypernotifier-close {
		display      : block;
		cursor       : pointer;
		position     : absolute;
		top          : 0;
		right        : 0;
		color        : #fff;
		background   : #111;
		font-weight  : bold;
		font-size    : 10px;
		padding      : 0 4px 0 4px;
		border-top-right-radius: 3px; }
	
	div.hypernotifier-notify:hover > div.hypernotifier-close:hover {
		cursor       : pointer;
		position     : absolute;
		top          : 0;
		right        : 0;
		color        : #fff;
		background   : #ff6571;
		font-weight  : bold;
		font-size    : 10px;
		padding      : 0 4px 0 4px;
		border-top-right-radius: 3px; }